a{
    text-decoration: none;
    color: white;
    padding: 40px;
    display: block;
}
aside{
    background-image: linear-gradient(90deg, teal, blue);
    float: left;
    padding: 10px;
    height: 100vh;
}
a:hover{
    background-color: aqua;
    border-radius: 10px;
}